<div class="sidebar-brand">
    <span>DESIGN SYSTEM</span>
</div>

<div class="sidebar-heading">概要</div>
<ul class="sidebar-menu">
    <li class="sidebar-item" data-target="introduction"><a href="/index.html#introduction" class="sidebar-link">はじめに</a></li>
    <li class="sidebar-item" data-target="architecture"><a href="/index.html#architecture" class="sidebar-link">設計と構造</a></li>
</ul>

<div class="sidebar-heading">主要コンセプト</div>
<ul class="sidebar-menu">
    <li class="sidebar-item" data-target="styling"><a href="/index.html#styling" class="sidebar-link">ミニマルデザイン</a></li>
</ul>

<div class="sidebar-heading">組織情報</div>
<ul class="sidebar-menu">
    <li class="sidebar-item" data-target="aboutus"><a href="/contents/aboutus.html" class="sidebar-link">About Us</a></li>
</ul>
